.navbar {
  background-color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 992px) {
  .navbar {
    display: none;
  }
}

.logo {
  height: 32px;
  margin-left: 1rem;
}

.mobile-view-menu {
  background: var(--secondary-5, #f2f8fe);
}
